.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
    text-align: center;
}

.form__button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.form__button:hover {
    background-color: #0056b3;
}

.collapsible {
    background-color: #eab676;
    color: #333;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.collapsible.active {
    background-color: #ddd;
}

.content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #121111;
    margin-bottom: 10px;
    border-left: 3px solid #007bff;
}

.content p {
    margin: 10px 0;
    line-height: 1.6;
}

.pcounter {
    font-size: 2em;
    margin-bottom: 20px;
    color:  white;
}
