@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/* Root variables for the website */
:root {
  --primary-bg-color: #f0f8ff; /* Light blue background color */
  --primary-text-color: #333; /* Dark gray text color */
  --primary-font: 'Rubik', sans-serif; /* Primary font family */
  --primary-heading-color: #000; /* Black color for headings */
  --secondary-text-color: #666; /* Medium gray text color */
  --main-bg-color: #07000d; /* Main background color */
  --main-bg-image: url("https://www.transparenttextures.com/patterns/cartographer.png"); /* Main background image */
  --todo-bg-color: rgba(255, 255, 255, 0.1); /* Todo background color */
  --todo-bg-hover-color: rgba(255, 255, 255, 0.2); /* Todo hover background color */
  --button-bg-color: rgba(113, 0, 212, 0.7); /* Button background color */
  --button-bg-hover-color: rgba(95, 0, 179, 0.5); /* Button hover background color */
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* APP */

body {
  background-color: var(--main-bg-color);
  background-image: var(--main-bg-image);
  color: white;
  font-family: var(--primary-font);
}

/* container */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* todos list */

.title {
  text-align: center;
  font-size: 3rem;
  padding: 3rem 0 1rem;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  background-color: var(--todo-bg-color);
  width: 50%;
  font-size: 1.4rem;
  border-radius: 1rem;
  transition: all 0.2s;
}

.todo:hover {
  background-color: var(--todo-bg-hover-color);
}

.mutations {
  display: flex;
  gap: 0.75rem;
}

.todo__status,
.todo__delete {
  border: none;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s;
  background: none;
  color: white;
  font-size: 1.6rem;
}

.todo__status:hover,
.todo__delete:hover {
  transform: scale(1.15);
}

.todo__status {
  font-size: 1.75rem;
}

/* form */

.form {
  display: flex;
  gap: 0.5rem;
  width: 50%;
  margin: 1rem auto;
}

.form__input {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
}

.form__input:focus,
.form__input:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.form__button {
  border: none;
  background-color: var(--button-bg-color);
  cursor: pointer;
  color: white;
  border-radius: 0.25rem;
  transition: all 0.2s;
}

.form__button:hover {
  background-color: var(--button-bg-hover-color);
}

@media (max-width: 420px) {
  .title {
    font-size: 2.5rem;
  }

  .form {
    width: 95%;
  }

  .todo {
    width: 95%;
    font-size: 1.2rem;
  }
}
